<div class="list-wrapper">
    <table class='file-listing'>
        <thead>
        <tr>
            <th class="file-checkbox"><input type="checkbox" autocomplete="off" class="select-all"/>&nbsp;&nbsp;<span>Alle</span>
            </th>
            <th class="file-title"><span>Übersicht</span></th>
            <th class="file-mtime"><span>Änderungsdatum</span></th>
            <th class="file-size"><span>Größe</span></th>
            <th class="file-type"><span>Dateityp</span></th>
            <th class="file-action"><span>Aktionen</span></th>
        </tr>
        </thead>
        <tbody>
        <tr class="filetype-file">
            <td class="file-checkbox">
                <input type="checkbox" autocomplete="off" id="file-18398083" name="files[]" value="18398083"
                       data-type="file"/></td>
            <td class="file-title" style="padding-left: 0px;">
                <a href="/mydocuments/dokumente/mydocuments/Directory/file/5446416b666f3046304b36447a754a73616c553548413d3d.html"
                   class="file-name" target="_blank"
                   title="12_Unterrichtsstunden_zu_Instrumenten_Vertretungsstunde_Musik_3_4_grund.pdf">12_Unterrichtsstunden_zu_Instrumenten_Vertretungsstunde_Musik_3_4_grund.pdf</a>
            </td>
            <td class="file-mtime">
                25.10.21 21:50
            </td>
            <td class="file-size">
                2.88 MB
            </td>
            <td class="file-type">
                PDF-Datei
                <br/>
                privat
            </td>
            <td class="file-actions">
                <a href="#" data-dropdown="file-actions-18398083" data-options="align:left" class="action-link">mögliche
                    Aktionen anzeigen</a>
                <ul id="file-actions-18398083" data-dropdown-content class="f-dropdown">
                    <li><a href="#" data-id="file-18398083" data-modal="modal-rename">Umbenennen</a></li>
                    <li><a href="#" data-id="file-18398083" data-modal="modal-copy">Kopieren</a></li>
                    <li><a href="#" data-id="file-18398083" data-modal="modal-move">Verschieben</a></li>
                    <li><a href="#" data-id="file-18398083" data-modal="modal-delete">Löschen</a></li>
                    <li><a href="#" data-id="file-18398083" data-modal="modal-calendar">Zu Termin hinzufügen</a></li>
                </ul>
            </td>
        </tr>
        <tr class="filetype-file">
            <td class="file-checkbox">
                <input type="checkbox" autocomplete="off" id="file-18398085" name="files[]" value="18398085"
                       data-type="file"/></td>
            <td class="file-title" style="padding-left: 0px;">


                <a href="/mydocuments/dokumente/mydocuments/Directory/file/72462f6b6a666958384e4a54416c6b365a2b6d5246513d3d.html"
                   class="file-name" target="_blank"
                   title="13_Unterrichtsstunden_zur_Musikgeschichte_Vertretungsstunde_Musik_3_4_grund.pdf">13_Unterrichtsstunden_zur_Musikgeschichte_Vertretungsstunde_Musik_3_4_grund.pdf</a>


            </td>
            <td class="file-mtime">

                25.10.21 21:50
            </td>
            <td class="file-size">

                1.84 MB

            </td>
            <td class="file-type">
                PDF-Datei
                <br/>
                privat
            </td>
            <td class="file-actions">

                <a href="#" data-dropdown="file-actions-18398085" data-options="align:left" class="action-link">mögliche
                    Aktionen anzeigen</a>
                <ul id="file-actions-18398085" data-dropdown-content class="f-dropdown">
                    <li><a href="#" data-id="file-18398085" data-modal="modal-rename">Umbenennen</a></li>
                    <li><a href="#" data-id="file-18398085" data-modal="modal-copy">Kopieren</a></li>
                    <li><a href="#" data-id="file-18398085" data-modal="modal-move">Verschieben</a></li>
                    <li><a href="#" data-id="file-18398085" data-modal="modal-delete">Löschen</a></li>

                    <li><a href="#" data-id="file-18398085" data-modal="modal-calendar">Zu Termin hinzufügen</a></li>

                </ul>

            </td>
        </tr>


        <tr class="filetype-file">
            <td class="file-checkbox">
                <input type="checkbox" autocomplete="off" id="file-18398082" name="files[]" value="18398082"
                       data-type="file"/></td>
            <td class="file-title" style="padding-left: 0px;">


                <a href="/mydocuments/dokumente/mydocuments/Directory/file/6d2b2b77434e527a7136563050753777575a6c4351773d3d.html"
                   class="file-name" target="_blank"
                   title="6_Unterrichtsstunden_zu_Jahreszeiten_Vertretungsstunde_Musik_3_4_grund.pdf">6_Unterrichtsstunden_zu_Jahreszeiten_Vertretungsstunde_Musik_3_4_grund.pdf</a>


            </td>
            <td class="file-mtime">

                25.10.21 21:50
            </td>
            <td class="file-size">

                1.5 MB

            </td>
            <td class="file-type">
                PDF-Datei
                <br/>
                privat
            </td>
            <td class="file-actions">

                <a href="#" data-dropdown="file-actions-18398082" data-options="align:left" class="action-link">mögliche
                    Aktionen anzeigen</a>
                <ul id="file-actions-18398082" data-dropdown-content class="f-dropdown">
                    <li><a href="#" data-id="file-18398082" data-modal="modal-rename">Umbenennen</a></li>
                    <li><a href="#" data-id="file-18398082" data-modal="modal-copy">Kopieren</a></li>
                    <li><a href="#" data-id="file-18398082" data-modal="modal-move">Verschieben</a></li>
                    <li><a href="#" data-id="file-18398082" data-modal="modal-delete">Löschen</a></li>

                    <li><a href="#" data-id="file-18398082" data-modal="modal-calendar">Zu Termin hinzufügen</a></li>

                </ul>

            </td>
        </tr>


        <tr class="filetype-file">
            <td class="file-checkbox">
                <input type="checkbox" autocomplete="off" id="file-18398077" name="files[]" value="18398077"
                       data-type="file"/></td>
            <td class="file-title" style="padding-left: 0px;">


                <a href="/mydocuments/dokumente/mydocuments/Directory/file/6330584d376777353035695a767554656e6e654555773d3d.html"
                   class="file-name" target="_blank"
                   title="6_Unterrichtsstunden_zu_Orten_der_Musik_Vertretungsstunde_Musik_3_4_grund.pdf">6_Unterrichtsstunden_zu_Orten_der_Musik_Vertretungsstunde_Musik_3_4_grund.pdf</a>


            </td>
            <td class="file-mtime">

                25.10.21 21:50
            </td>
            <td class="file-size">

                2.64 MB

            </td>
            <td class="file-type">
                PDF-Datei
                <br/>
                privat
            </td>
            <td class="file-actions">

                <a href="#" data-dropdown="file-actions-18398077" data-options="align:left" class="action-link">mögliche
                    Aktionen anzeigen</a>
                <ul id="file-actions-18398077" data-dropdown-content class="f-dropdown">
                    <li><a href="#" data-id="file-18398077" data-modal="modal-rename">Umbenennen</a></li>
                    <li><a href="#" data-id="file-18398077" data-modal="modal-copy">Kopieren</a></li>
                    <li><a href="#" data-id="file-18398077" data-modal="modal-move">Verschieben</a></li>
                    <li><a href="#" data-id="file-18398077" data-modal="modal-delete">Löschen</a></li>

                    <li><a href="#" data-id="file-18398077" data-modal="modal-calendar">Zu Termin hinzufügen</a></li>

                </ul>

            </td>
        </tr>


        <tr class="filetype-file">
            <td class="file-checkbox">
                <input type="checkbox" autocomplete="off" id="file-18398080" name="files[]" value="18398080"
                       data-type="file"/></td>
            <td class="file-title" style="padding-left: 0px;">


                <a href="/mydocuments/dokumente/mydocuments/Directory/file/7a3348677471657170447271492f7a684853314a79413d3d.html"
                   class="file-name" target="_blank"
                   title="9_Unterrichtsstunden_zum_Tanz_Vertretungsstunde_Musik_3_4_grund.pdf">9_Unterrichtsstunden_zum_Tanz_Vertretungsstunde_Musik_3_4_grund.pdf</a>


            </td>
            <td class="file-mtime">

                25.10.21 21:50
            </td>
            <td class="file-size">

                2.71 MB

            </td>
            <td class="file-type">
                PDF-Datei
                <br/>
                privat
            </td>
            <td class="file-actions">

                <a href="#" data-dropdown="file-actions-18398080" data-options="align:left" class="action-link">mögliche
                    Aktionen anzeigen</a>
                <ul id="file-actions-18398080" data-dropdown-content class="f-dropdown">
                    <li><a href="#" data-id="file-18398080" data-modal="modal-rename">Umbenennen</a></li>
                    <li><a href="#" data-id="file-18398080" data-modal="modal-copy">Kopieren</a></li>
                    <li><a href="#" data-id="file-18398080" data-modal="modal-move">Verschieben</a></li>
                    <li><a href="#" data-id="file-18398080" data-modal="modal-delete">Löschen</a></li>

                    <li><a href="#" data-id="file-18398080" data-modal="modal-calendar">Zu Termin hinzufügen</a></li>

                </ul>

            </td>
        </tr>

        </tbody>
    </table>