
<a class="close-reveal-modal">&#215;</a>

<form method="post" class="mydocumentsoverlay" id="mydocuments_savedoc_form" action="/mydocuments/dokumente/mydocuments/Directory/save.html">
    <div>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][@extension]" value="LehrerbueroMydocuments"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][@vendor]" value="LB"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][@controller]" value="Directory"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][@action]" value="chooseSaveTarget"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][arguments]" value="YTozOntzOjEwOiJjb250cm9sbGVyIjtzOjk6IkRpcmVjdG9yeSI7czo2OiJhY3Rpb24iO3M6MTY6ImNob29zZVNhdmVUYXJnZXQiO3M6MTM6ImVuY3J5cHRlZGZpbGUiO3M6MTc2OiI0YTUwNmU2ZDU1NzM2MjUyNTk1MzUwNjM0Yzc3NGE2MTRjNjY3MDM3MzA0NDcwNjQ3MjRjNDgzNTUzMzk0NDQ4NmQ2YTYxNjY0NzZiNTM0ZjcyNjI2NDU2NzY1MzJiNmYzMTMxMzQ0ODQ2NGE0ODQ5NGEzMzQ4NGU0NTZmNmMzMzZkNTQzODMwNDY0YzcwNTQzOTYyNzk2ZjUyNTM2NDQ5Njg2YTcwNDg2YzQxM2QzZCI7fQ==38d3b6716a89b10ca89b97363dc5a80cf09d3a49"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__referrer][@request]" value="a:4:{s:10:&quot;@extension&quot;;s:22:&quot;LehrerbueroMydocuments&quot;;s:11:&quot;@controller&quot;;s:9:&quot;Directory&quot;;s:7:&quot;@action&quot;;s:16:&quot;chooseSaveTarget&quot;;s:7:&quot;@vendor&quot;;s:2:&quot;LB&quot;;}8a92ced2142b9cce31bfdc89bffd6026e3c088cb"/>
        <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[__trustedProperties]" value="a:2:{s:13:&quot;encryptedfile&quot;;i:1;s:6:&quot;target&quot;;i:1;}5064da49b4872dfbaeb39add19b9321aeaddd7d0"/>
    </div>

    <div class="h4" style="width: 93%;">In »Meine Dokumente« kopieren</div>

    <p>
        Wählen Sie hier einen Zielordner aus dem »Meine-Dokumente«-Bereich.
        <br/>

        Die hier abgespeicherten Dateien können Sie natürlich jederzeit auch lokal auf Ihren Computer herunterladen.
    </p>
    <table class='file-listing'>
        <tbody>

        <tr class="filetype-folder folder-open">
            <td class="file-title" style="padding-left: 0px;">
                <a href="#" data-target="0">
                    <span class="file-image"></span>
                    <span class="file-name">[oberste ebene]</span>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
    <input type="hidden" name="tx_lehrerbueromydocuments_mydocuments[encryptedfile]" value="4a506e6d55736252595350634c774a614c66703730447064724c4835533944486d6a6166476b534f7262645676532b6f31313448464a48494a33484e456f6c336d543830464c70543962796f52536449686a70486c413d3d"/>
    <input class="mydocuments-target" type="hidden" name="tx_lehrerbueromydocuments_mydocuments[target]" value=""/>
</form>
<script type="text/javascript">
    (function($) {
        'use strict';
        var $form = $('#mydocuments_savedoc_form');
        $('tr a', $form).click(function() {
            var $this = $(this);
            $('input.mydocuments-target', $form).val($this.data('target'));
            $form.submit();
            return false;
        });
        $form.submit(function(event) {
            event.preventDefault();
            var $form = $(this);
            $.post(
                $form.attr("action"),
                $form.serialize()
            ).done(function(data) {
                var content = $(data);
                $form.closest('.reveal-modal').empty().append(content);
            });
        });
    })(jQuery);
</script>

